* {
  font-family: 'open sans', sans-serif;
  padding: 0;
}

ul {
  list-style: none;
}

.to-do-list-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px;
  border-style: solid;
  border-radius: 3px;
  margin-right: 30%;
  margin-left: 30%;
  box-shadow: 0 2px 8px rgb(0 0 0 / 15%);
  margin-top: 5%;
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.title {
  display: flex;
  width: 100%;
  align-items: flex-start;
  margin-left: 5px;
  font-weight: bold;
}

.refresh {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-right: 10px;
}

.to-do-list-ul {
  width: 100%;
  margin-bottom: 0;
}

.li-div {
  display: flex;
  flex-direction: row;
}

.to-do-item {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.to-do-item:hover {
  background-color: #faf441;
}

.img-div {
  display: flex;
  align-items: flex-start;
}

.li-img {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-right: 10px;
}

.form-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.add-item {
  width: 100%;
  height: 40px;
  overflow: hidden;
  border: none;
  font-style: italic;
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 0;
}

.arrow {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-right: 10px;
}

.remove-button {
  border: none;
  width: 100%;
  height: 70px;
  padding: 0;
  margin: 0;
}

.remove-button:hover {
  transform: scale(1.05);
}

.remove-button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
